<!doctype html>
<html lang="zh-Hant">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>《夢幻新誅仙》情緣改版開跑！4/28正式登場</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta
			name="keywords"
			content="夢幻新誅仙、夢幻新誅仙手遊、艾玩天地、夢幻新誅仙事前預約、夢幻新誅仙下載、夢誅、誅仙、MMORPG、回合、旗艦仙俠手遊、張小凡、碧瑤、陸雪琪、癡情咒、合歡鈴、青雲志、JD、遊戲、手遊、武俠、仙俠"
		/>
		<meta
			name="description"
			content="旗艦仙俠鉅作《夢幻新誅仙》即將登場！夢回誅仙，再續情天，重視原作還原與多元玩法體驗，這次結局由你決定！極致PC端畫質，動態光源PBR2.0技術，搭載杜比全景音效，體驗最真實的誅仙世界！"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="《夢幻新誅仙》情緣改版開跑！4/28正式登場"
		/>
		<meta
			property="og:description"
			content="預約免費送結婚時裝！一樣的歲月，不一樣的情緣，快來抽出你的戀愛運勢吧！"
		/>
		<meta property="og:url" content="index.html" />
		<meta
			property="og:image"
			content="https://www.mhxzx.com.tw/events/20220420/images/share.jpg"
		/>

		<!-- icon -->
		<link
			rel="shortcut icon"
			href="https://ids.iwplay.com.tw/images/icon/2000200_icon.png"
		/>
		<link
			rel="apple-touch-icon"
			href="https://ids.iwplay.com.tw/images/icon/2000200_icon.png"
		/>

		<!-- CSS -->
		<link
			rel="stylesheet"
			href="https://www.mhxzx.com.tw/events/20220420/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.mhxzx.com.tw/events/20220420/css/animate.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.mhxzx.com.tw/events/20220420/css/main.css"
		/>
	</head>

	<body>
		<div id="app">
			<!-- Nav -->
			<nav>
				<div class="nav_mob">
					<img
						class="img-fluid d-sm-none"
						src="https://www.mhxzx.com.tw/events/20220420/images/nav/nav_bg_m.png"
					/>
				</div>
				<div class="btn_game">
					<a :href="cont.facebook" target="_blank">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/nav/btn_fb.png"
						/>
					</a>
					<a :href="cont.home" target="_blank">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/nav/btn_home.png"
						/>
					</a>
					<a :href="cont.game_download" target="_blank">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/nav/btn_game.png"
						/>
					</a>
					<a :href="cont.pc_download" target="_blank">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/nav/btn_pc.png"
						/>
					</a>
					<div class="side_open"></div>
				</div>
			</nav>

			<!-- KV -->
			<header>
				<div class="container">
					<div class="firework"></div>
					<div class="role"></div>
					<div class="logo wow fadeIn">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/logo.png"
						/>
					</div>
					<div class="slogan wow fadeInDown">
						<img
							class="img-fluid"
							src="https://www.mhxzx.com.tw/events/20220420/images/slogan.png"
						/>
					</div>
				</div>
			</header>

			<main class="event">
				<!-- Event1 -->
				<section class="event1">
					<div class="lamp_left fly"></div>
					<div class="lamp_right fly2"></div>
					<div class="container">
						<div class="title wow fadeInUp">
							<img
								class="img-fluid d-none d-sm-block"
								src="https://www.mhxzx.com.tw/events/20220420/images/title01.png"
							/>
							<img
								class="img-fluid d-sm-none"
								src="https://www.mhxzx.com.tw/events/20220420/images/title01_m.png"
							/>
							<p>{{cont.event1}}</p>
						</div>

						<div class="content">
							<!-- 填寫手機號碼 -->
							<div class="frame wow fadeInDown">
								<div class="frame_bg">
									<div class="inner">
										<div class="box">
											<form id="register_form">
												<select
													class="form-select"
													name="icp"
												>
													<option value="-1" selected>
														區域
													</option>
													<option value="+886">
														台灣
													</option>
													<option value="+852">
														香港
													</option>
													<option value="+853">
														澳門
													</option>
												</select>
												<input
													name="play_info"
													type="text"
													class="form-control"
													size="20"
													maxlength="10"
													placeholder="請輸入手機號碼"
													onkeypress="
														if (
															event.keyCode == 13
														) {
															return false;
														}
													"
												/>
												<div class="form-check mt-1">
													<input
														class="form-check-input"
														type="checkbox"
														id="chme"
														checked
													/>
													<label
														class="form-check-label"
														for="chme"
														data-bs-toggle="modal"
														data-bs-target="#privacy"
														v-html="cont.privacy"
													>
													</label>
												</div>
											</form>
											<div class="rewards_img">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/rewards.png"
												/>
											</div>
											<!-- 可領取狀態拿掉class off -->
											<div class="btn">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn.png"
												/>
											</div>
											<ul class="rewards_notice">
												<li
													v-for="list in cont.event1_notice"
												>
													{{list}}
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<!-- 填寫手機號碼完成後替換 Finish -->
							<!--div class="finish wow fadeInDown">
              <img class="img-fluid" src="https://www.mhxzx.com.tw/events/20220420/images/finish.png">
            </div-->
						</div>
					</div>
				</section>

				<!-- Event2 -->
				<section class="event2">
					<div class="flower wind"></div>
					<div class="container">
						<div class="title wow fadeInUp">
							<img
								class="img-fluid d-none d-sm-block"
								src="https://www.mhxzx.com.tw/events/20220420/images/title02.png"
							/>
							<img
								class="img-fluid d-sm-none"
								src="https://www.mhxzx.com.tw/events/20220420/images/title02_m.png"
							/>
							<p>{{cont.event2}}</p>
						</div>

						<div class="content">
							<!-- Draw_Card -->
							<div class="draw_card wow fadeInDown">
								<div
									class="draw"
									data-bs-toggle="modal"
									data-bs-target="#card_result"
								>
									<img
										class="img-fluid"
										src="https://www.mhxzx.com.tw/events/20220420/images/card.png"
									/>
								</div>
								<div class="btn_event">
									<div class="row no-gutters">
										<div class="col-6 p-0">
											<div
												class="btn"
												data-bs-toggle="modal"
												data-bs-target="#rule"
											>
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn_event.png"
												/>
											</div>
										</div>
										<div class="col-6 p-0">
											<div class="btn">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn_share.png"
												/>
											</div>
										</div>
									</div>
									<p>{{cont.event2_share}}</p>
								</div>
							</div>

							<!-- Iogin_Rewards -->
							<div
								class="login_rewards wow fadeIn"
								data-wow-delay="0.5s"
							>
								<p>已累積登入<span>3</span>天</p>
								<div
									class="row no-gutters justify-content-center"
								>
									<div
										class="col-lg-4 col-sm-6 wow fadeInDown"
										data-wow-delay="0.5s"
									>
										<div class="rewards">
											<img
												class="img-fluid"
												src="https://www.mhxzx.com.tw/events/20220420/images/login_rewards01.png"
											/>
											<div class="btn off">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn_rewards_done.png"
												/>
											</div>
										</div>
									</div>
									<div
										class="col-lg-4 col-sm-6 wow fadeInDown"
										data-wow-delay="0.7s"
									>
										<div class="rewards">
											<img
												class="img-fluid"
												src="https://www.mhxzx.com.tw/events/20220420/images/login_rewards02.png"
											/>
											<div class="btn">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn_rewards.png"
												/>
											</div>
										</div>
									</div>
									<div
										class="col-lg-4 col-sm-6 wow fadeInDown"
										data-wow-delay="0.9s"
									>
										<div class="rewards">
											<img
												class="img-fluid"
												src="https://www.mhxzx.com.tw/events/20220420/images/login_rewards03.png"
											/>
											<div class="btn off">
												<img
													class="img-fluid"
													src="https://www.mhxzx.com.tw/events/20220420/images/btn_rewards.png"
												/>
											</div>
										</div>
									</div>
								</div>
								<ul
									class="login_rewards_notice wow fadeInDown"
									data-wow-delay="0.5s"
								>
									<li v-for="list in cont.event2_notice">
										{{list}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<!-- Inquire -->
				<section class="inquire">
					<div class="flower2 wind2"></div>
					<div class="container">
						<div class="title wow fadeInUp">
							<img
								class="img-fluid"
								src="https://www.mhxzx.com.tw/events/20220420/images/inquire.png"
							/>
						</div>
						<div class="content wow fadeIn" data-wow-delay="0.5s">
							<table>
								<thead>
									<tr>
										<th scope="col">日期</th>
										<th scope="col">活動名稱</th>
										<th scope="col">獎勵內容</th>
										<th scope="col">獎勵序號</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2022/04/20</td>
										<td>xxxx</td>
										<td>xxxx</td>
										<td>xxxx-xxxx</td>
										<td>
											<div class="btn_copy">複製</div>
										</td>
									</tr>
									<tr>
										<td>2022/04/20</td>
										<td>xxxx</td>
										<td>xxxx</td>
										<td>xxxx-xxxx</td>
										<td>
											<div class="btn_copy">複製</div>
										</td>
									</tr>
									<tr>
										<td>2022/04/20</td>
										<td>xxxx</td>
										<td>xxxx</td>
										<td>xxxx-xxxx</td>
										<td>
											<div class="btn_copy">複製</div>
										</td>
									</tr>
									<tr>
										<td>2022/04/20</td>
										<td>xxxx</td>
										<td>xxxx</td>
										<td>xxxx-xxxx</td>
										<td>
											<div class="btn_copy">複製</div>
										</td>
									</tr>
									<tr>
										<td>2022/04/20</td>
										<td>xxxx</td>
										<td>xxxx</td>
										<td>xxxx-xxxx</td>
										<td>
											<div class="btn_copy">複製</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- Pagination -->
							<div
								aria-label="Page navigation"
								class="inquire_page"
							>
								<ul class="pagination">
									<li class="page-item">
										<a
											class="page-link"
											href="#"
											aria-label="Previous"
										>
											<span aria-hidden="true"
												>&laquo;</span
											>
										</a>
									</li>
									<li class="page-item active disabled">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a
											class="page-link"
											href="#"
											aria-label="Next"
										>
											<span aria-hidden="true"
												>&raquo;</span
											>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<!-- Notice -->
				<section class="notice">
					<div class="container">
						<div class="title wow fadeInUp">
							<img
								class="img-fluid"
								src="https://www.mhxzx.com.tw/events/20220420/images/notice.png"
							/>
						</div>
						<div class="content wow fadeIn" data-wow-delay="0.5s">
							<ol>
								<li v-for="list in cont.notice">{{list}}</li>
							</ol>
						</div>
					</div>
				</section>
			</main>

			<!-- Footer -->
			<footer></footer>

			<!-- Privacy  -->
			<div
				class="modal fade"
				id="privacy"
				tabindex="-1"
				aria-hidden="true"
			></div>

			<!-- card_Result -->
			<div
				class="modal fade zoom-in"
				id="card_result"
				tabindex="-1"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<!-- 網頁結果圖 card_result_a.png / card_result_b.png / card_result_c.png / card_result_d.png -->
						<!-- 網頁分享圖 card_share_a.png / card_share_b.png / card_share_c.png / card_share_d.png -->
						<div class="card_result">
							<img
								class="img-fluid"
								src="https://www.mhxzx.com.tw/events/20220420/images/card_result_a.png"
							/>
						</div>
						<div class="modal-footer">
							<div class="popup_close" data-bs-dismiss="modal">
								關閉
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Event2_rule -->
			<div class="modal fade" id="rule" tabindex="-1" aria-hidden="true">
				<div
					class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
				>
					<div class="modal-content">
						<h4 class="modal-title">活動規範</h4>
						<div class="modal-body">
							<div class="cards_type">
								<div class="row no-gutters">
									<div class="col-6 col-xl-3 p-1">
										<img
											class="img-fluid"
											src="https://www.mhxzx.com.tw/events/20220420/images/card_result_a.png"
										/>
									</div>
									<div class="col-6 col-xl-3 p-1">
										<img
											class="img-fluid"
											src="https://www.mhxzx.com.tw/events/20220420/images/card_result_b.png"
										/>
									</div>
									<div class="col-6 col-xl-3 p-1">
										<img
											class="img-fluid"
											src="https://www.mhxzx.com.tw/events/20220420/images/card_result_c.png"
										/>
									</div>
									<div class="col-6 col-xl-3 p-1">
										<img
											class="img-fluid"
											src="https://www.mhxzx.com.tw/events/20220420/images/card_result_d.png"
										/>
									</div>
								</div>
							</div>
							<ol>
								<li v-for="list in cont.event2_rule">
									{{list}}
								</li>
							</ol>
						</div>
						<div class="modal-footer">
							<div class="popup_close" data-bs-dismiss="modal">
								關閉
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- EventAlertModal -->
			<div class="modal fade" id="eventAlertModal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body">
							<p>請先進行活動登錄</p>
						</div>
						<div class="modal-footer">
							<div class="popup_close" data-bs-dismiss="modal">
								關閉
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://www.mhxzx.com.tw/events/20220420/js/jquery-3.5.1.min.js"></script>
		<script src="https://www.mhxzx.com.tw/events/20220420/js/bootstrap.min.js"></script>
		<script src="https://www.mhxzx.com.tw/events/20220420/js/wow.min.js"></script>
		<script
			src="https://ids.iwplay.com.tw/eventjson/2000200/2022042001.js"
			charset="utf-8"
		></script>
		<script src="./js/mhzx_card.js"></script>

		<!-- Vue 3 -->
		<script src="https://ids.iwplay.com.tw/kit/vue/vue.global.prod.js"></script>
		<script>
			//Vue
			const App = {
				data() {
					return { cont };
				},
			};
			Vue.createApp(App).mount("#app");
		</script>
	</body>
</html>
